<style type="text/css">
  table{
    width:100%;
    table-layout:fixed;
  }
  td{
    text-align:left;
  }
  p{
    font-size:15px;
  }
</style>
<h1>
    お盆期間中のサンデーセット販売・サービスセット販売休止のお知らせ
</h1>
<p>お客様各位</p>
<p>
    いつも山岡家をご利用いただきましてまことにありがとうございます。
</p>
<p>
    お盆期間中(8/13～8/16)は、日曜・祝日限定のお得なメニュー「<%=link_to "サンデーセット",:action=>"menu",:controller=>"menu",:id => "2001",:page => 1%>」を毎日販売させていただきます。
    ラーメンをご注文いただいたお客様に、プラス300円で自慢のパリパリギョーザとライスをセット。通常価格480円ですので、なんと180円もお得です。
</p>
<p style="text-align:center">
  <%=image_tag "menu/photo/2001.jpg", :alt=> "サンデーセット"%>
</p>
<p>
    なお、大変勝手ながら、お盆期間中はサービスセットの販売を休止させていただきます。
</p>
<p>
    お盆期間中も、山岡家をご愛顧いただきますよう、お願い申しあげます。
</p>