<style type="text/css">
  table{
    width:100%;
    table-layout:fixed;
  }
  td{
    text-align:left;
  }
</style>
<h1>
    関東事務所 移転のお知らせ
</h1>
<p>お客様・お取引先様各位</p>
<p>
   関東事務所を土浦市からつくば市へ移転いたしましたので、下記のとおりお知らせいたします。
</p>
<br/>
<p style="text-align:center;">
  <table style="width:100%">
        <col width="100" />
        <col width="300" />
        <caption>記</caption>
        <tr>
                <th valign="top">新住所</th>
                <td>
                        〒305-0034
                        <br />
                        茨城県つくば市小野崎127番地1
                        <br />
                        TEL：029-896-5800
                        <br />
                        FAX：029-896-5802
                </td>
        </tr>
        <tr>
                <th valign="top">移転日</th>
                <td>平成20年9月22日（月）</td>
        </tr>
        <tr>
                <th valign="top">玄関付近</th>
                <td>
                  <%=image_tag "news/20080922/office.jpg",:alt=>"山岡家 関東事務所 玄関付近"%>
                </td>
        </tr>
        <tr>
                <th valign="top">地図</th>
                <td>
                  <img src="http://maps.google.com/staticmap?center=36.076607,140.105899&zoom=14&size=500x320&markers=36.076607,140.105899,redy&key=ABQIAAAAtxpvTklqZYxeE7thlJGlpBR5S9EJXKmK7-e_GZIBlC5I_zLj8RQdBkjYVA081UPcpSjnHNCMqpLsQg&format=gif"  alt="山岡家 関東事務所 地図"/>
                </td>
        </tr>

  </table>

</p>

<p style="text-align:right;">
以上
</p>