%div
  %h2 店舗物件情報募集
  %p
    おかげさまで、「ラーメン山岡家」店舗数は、平成21年12月に100店舗を達成し、
    現在全国で#{Shop.active.count}店舗を展開しております。
  %p
    今後も、より多くの地域の皆様に「ラーメン山岡家」の味をお楽しみいただきたく、
    ロードサイド・ビルイン（テナント）に関する店舗物件情報を広く募集しております。
  %p
    ぜひとも弊社へ優良物件のご紹介をお願い申し上げます。
#widearea
  %p
    =image_tag64 "property/shop-4.jpg", align:'left',style: 'margin:4px',alt:'店舗画像'
    =image_tag64 "property/shop-1.jpg", align:'left',style: 'margin:4px',alt:'店舗画像'
    =image_tag64 "property/shop-5.jpg", align:'left',style: 'margin:4px',alt:'店舗画像'
  %p{style:"clear:both;"}
    「ラーメン山岡家」は現在ロードサイド店を主に出店しております。
  %p
    =image_tag64 "property/shop-3.jpg", align:'right',style: 'margin:4px',alt:'店舗画像'
    生活圏内のお客様はもとよりさまざまなお客様にお楽しみいただけるよう広い駐車場を用意し、
    年中無休24時間営業を基本として営業しております。
  %p
    お電話・FAX、または<a href="mailto:&#115;&#x64;&#x40;yamao&#x6B;aya&#46;&#99;o&#x6D;">メール</a>にてご紹介ください。
  %p
    株式会社丸千代山岡家
    %br
    店舗開発部
  %p
    TEL：029-896-5800　FAX：029-896-5834
#narrowarea
  %h3 店舗募集要項
  %dl
    %dt 地域
    %dd 北海道地方/関東地方/東海地方/関西地方/九州地方/北陸地方 各都府県
    %dt 契約形態
    %dd 事業用定期借地契約
    %dd 建設協力金方式リースバック
    %dt 条件
    %dd 飲食店として年中無休24時間営業が可能であること
    %dd ロードサイド/生活幹線道路沿い
    %dd 敷地面積250坪～(建物床面積30～50坪程度)
    %dd テナント、複合施設型なども歓迎致します。
