div#narrowarea{
    float:left;
    border:none;
    margin:0px;
    padding:0px;
    width:294px;
}
div#widearea{
    float:right;
    border:none;
    margin:0px;
    padding:0px;
    width:460px;
}

#narrowarea div.wakutop{
    background-image:url(/images/wakutop.gif);
    height:11px;
}
#narrowarea div.wakumiddle{
    background-image:url(/images/wakumiddle.gif);
}
#narrowarea div.wakubottom{
    background-image:url(/images/wakubottom.gif);
}
#widearea div.wakutop{
    background-image:url(/images/wakultop.gif);
}
#widearea div.wakumiddle{
    background-image:url(/images/wakulmiddle.gif);
}
#widearea #news div.wakutop{
    background-image:url(/images/wakultop_news.gif);
}
#widearea #news div.wakumiddle{
    background-image:url(/images/wakulmiddle_news.gif);
}
#widearea #news div.wakubottom{
    background-image:url(/images/wakulbottom_news.gif);
}
#widearea #news .wakuinner a{
    color:white;
}
#widearea #news .wakutitle a{
    color:red;
}
#widearea #news .wakuinner{
    color:white;
}
#widearea #news .wakutitle{
    float:left;
    font-size:14px;
    color:red;
    padding:0px;
    margin:0px;
    border:none;
}
#widearea div.wakubottom{
    background-image:url(/images/wakulbottom.gif);
}
div.wakuinner{
    padding:0px 20px 0px 20px;
    clear:both;
    
}
#recruit div.wakuinner{
    font-size:15px;
    color:#DC0000;
}
.wakutop .title{
    margin-left:36px;
    margin-top:10px;
}

div.lbt{
    width:120px;
    border:solid 1px #666666;
    background-color:#777777;
    color:#DDDDDD;
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
    margin:5px;
}

dl{
    width:100%;
    padding:5px 0px 5px 0px;
    margin:0px;
}


#widearea dt{
    color:#666666;
    font-size:11px;
    border-bottom:solid 1px #FF6600;
}

#widearea dd{
  margin:5px 0px 8px 5px;
  font-size:15px;
  
}
#narrowarea dt {
	width: 100%;
	margin: 1px 1px 1px 1px;
	padding: 2px 0px 2px 0px;
	line-height: 130%;

}

#narrowarea dd {
	_height: 1%; /* Hack for Win IE6 */
	margin: 0 0 1px 1px;
	padding: 0px;
	line-height: 105%;

}
table.planning{
    width:100%;
    table-layout:fixed;
    border:none;
    border-collapse:collapse;
}
table.planning th,table.planning td{
    border:solid 1px #FFBBBB;
    padding:3px;
    font-size:12px;
}
div.sl{
    color:green;
    float:none;
    background-color:#EEEEEE;
    padding:3px 0px 3px 0px;
    display:none;
}
div.capt{
    padding:5px 0px 5px 0px;
    color:#666;
    font-size:11px;
}
div.capt span,dt span{
    color:#F00;
    
}
select,input{
    width:100%;
    font-size:13px;
    text-align:left;
}

.sinfo{
   border-bottom:solid 1px #FF0000; 
   float:none;
   clear:both;
   position:relative;
   border:solid 1px #333333;
}
h3{
    font-size:14px;
    color:#440000;
    float:left;
    
    padding:2px;
}

p{
    padding:0px;
    margin:0px;
    float:left;
    font-size:13px;
}
#area{
    width:250px;
    font-size:12px;
    margin:0px;
    padding:0px;
}