div#narrowarea{
    float:right;
    border:none;
    width:294px;
}
div#widearea{
    float:left;
    border:none;
    width:460px;
}

div#ue{
    width:768px;
   height:50px;
   background-position: bottom;
   background-repeat:no-repeat;
    background-image:url(/images/wakuue.gif);
}


h3.matitle{
    color:red;
    font-size:13px;
    margin-bottom:0px;
    padding-bottom:0px;
}

p.ma{
    margin-top:3px;
    line-height:13px;
    font-size:11px;
    text-align:justify;
    color:#444444;
}
#narrowarea div.wakutop{
    background-image:url(/images/wakutop.gif);
}
#narrowarea div.wakumiddle{
    background-image:url(/images/wakumiddle.gif);
}
#narrowarea div.wakubottom{
    background-image:url(/images/wakubottom.gif);
}
#widearea div.wakutop{
    background-image:url(/images/wakultop.gif);
}
#widearea div.wakumiddle{
    background-image:url(/images/wakulmiddle.gif);
}
#widearea div.wakubottom{
    background-image:url(/images/wakulbottom.gif);
}
div.wakuinner{
    padding:0px 20px 0px 20px;
    clear:both;
}
.wakutop .title{
    margin-left:36px;
    margin-top:10px;
}

div#bottomarea{
    clear:both;
    float:none;
    margin:10px 0px 10px 0px;
    width:760px;
}
div.box{
    float:none;
    clear:both;
}
#hotnews{
    padding:0px;
    margin:0px;
    width:100%;
}
#hotnews dt{
    float:left;   
    width:90px;   
    padding:5px 0px 5px 10px; 
    clear:both;   
    font-weight:bold;
    color:#FF8080;
}
#hotnews dd{
 width:290px;   
 margin-left:100px;
 padding:5px 5px 5px 10px; 
}
#hotnews dt.a,#hotnews dd.a{
    background-color:#FFF3F3;
}
#bottomarea .btb{
    float:left;
    width:360px;
    margin:5px;
    border: outset 1px #CCCCCC;
    background-color:#EFEFEF;
}
.btb .title{
    font-size:15px;
    background-color:#666666;
    color:#EFEFEF;
    border-left: solid 20px #FF0000;
    border-bottom:solid 2px #FF0000;
    margin: 0 0 5px 0;
    padding:5px;
    font-weight:bold;

}
table.news{
    
    table-layout:fixed;
    empty-cells:show;
    border-collapse:collapse;
}
table.news th, table.news td{
        padding:5px;
        margin:0px;
        border:none;
}
table.news td{
    border-bottom:solid 1px #AAAAAA;

}
th.topics{
    background-color:#FF3300;
}
th.ir{
  background-color:#00cc33;
}

 
#domticker{   
width: 380px;   
height: 16px;
position:relative;
left:90px;
top:19px;
border:none;
}  
 
#domticker div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/    
  color:#333;
  font-weight:bold;
}  
 
#domticker a{   
}  
 
#domticker2{   
  
}  
 
#domticker2 a{   
text-decoration: none;
}   
.someclass{}