%div
  %h2
    山岡家で働いてみませんか？
    =link_to image_tag64("recruit/qr.gif",:align=>"right"),"http://yamaokaya.jp"
  %p
    山岡家は、店長の半数以上がパート・アルバイト出身。
    充分すぎるほどのチャンスがあなたを待っています。
  %p
    空き時間を有効に活用したい方には、週2日、1日3時間からでもOK。あなたのライフスタイルに合わせて働けます。
  %p
    あなたのその能力を、ぜひ山岡家で発揮してください。
  %p
    =link_to "応募フォーム",action: :index
    からエントリーください。
  %p
    また、ケータイからのエントリーも大歓迎。右のQRコードからアクセスください。
  =image_tag64 "recruit/staff5.jpg",align:"left",style: "margin:4px",alt:"スタッフ画像"
  =image_tag64 "recruit/staff.jpg",align:"left",style: "margin:4px",alt:"スタッフ画像"
  =image_tag64 "recruit/staff2.jpg",align:"left",style: "margin:4px",alt:"スタッフ画像"
  =image_tag64 "recruit/staff4.jpg",align:"left",style: "margin:4px",alt:"スタッフ画像"
  =image_tag64 "recruit/staff6.jpg",align:"left",style: "margin:4px",alt:"スタッフ画像"
  =image_tag64 "recruit/staff3.jpg",style: "margin:4px",alt:"スタッフ画像"

#narrowarea
  %h3
    正社員(店長候補)
  %dl
    %dt
      職種
    %dd
      店舗運営・調理・接客
    %dt
      資格
    %dd
      学歴等不問
    %dt
      給与例
    %dd
      一般社員  200,000円以上
    %dd
      店長　350,000円以上
    %dd
      SV　550,000円以上
    %dt
      時間
    %dd
      シフト制(実働8時間)
    %dt
      休日
    %dd
      月公休(9-10日) シフト制により取得
    %dd
      誕生日休暇
    %dd
      シーズン休暇(5日)
    %dd
      慶弔休暇
    %dd
    %dt
      福利厚生等
    %dd
      勤務地から遠方にお住まいの場合、異動費用弊社負担
    %dd
      家賃補助あり
    %dd
      交通費支給（会社負担）
    %dd
      役職手当
    %dd
      残業手当
    %dd
      深夜割増手当
    %dd
      休日出勤手当
    %dd
      誕生日手当
    %dd
      従業員持株会
    %dd
      制服貸与
    %dd
      マイカー通勤可（駐車場完備）
    %dd
      異動時費用全額負担
    %dd
      永年勤続表彰制度
    %dd
      山分け制度…社内FC
    %dt
      勤務地
    %dd
      各店舗にて勤務していただきます
    %dd
      （北海道～熊本まで　店舗あり）
#widearea
  %h3
    パート・アルバイト(キッチン・ホールスタッフ)
  %dl
    %dt
      職種
    %dd
      接客・調理補助
    %dt
      資格
    %dd
      学歴等不問
    %dd
      55歳位まで
    %dt
      給与
    %dd
      勤務店舗により異なります
    %dt
      時間
    %dd
      1日 3～6時間　交代制　応相談
    %dt
      休日
    %dd
      応相談　週2日以上より
    %dt
      待遇
    %dd
      社員登用制度あり
    %dd
      交通費支給（社内規程による）
    %dd
      制服貸与
    %dt
      勤務地
    %dd
      新規店舗各店（新店のオープンの3週間前に受付開始）
    %dd
      他全店
