<div class="tab">
  <%=link_to image_tag("stab.gif",:alt=>"採用情報",:onmouseover=>"mov(this);" ,:onmouseout=>"movo(this);"),{:controller=>"recruit"}%>
</div>
<div class="tab">
  <%=link_to image_tag("btab.gif",:alt=>"物件募集",:onmouseover=>"mov(this);" ,:onmouseout=>"movo(this);"),{:controller=>"property"}%>
</div>
