<style type="text/css">
  #goog-wm {
  }
  #goog-wm h3{
    background-color:#FFFFFF;
    text-align:left;
    color:black;
    float:none;
    clear:both;
  }
  #goog-wm h3.closest-match { 
    
  }
  #goog-wm h3.closest-match a { }
  #goog-wm h3.other-things { }
  #goog-wm ul li { 
    list-style:none;
  }
  #goog-wm li.search-goog { display: block; }
  
  h1{
      position:relative;
      font-size:18px;
      margin:10px 0px 10px 0px;
      border-left:solid 24px #FF6600;
      background-color:#EAEAEA;
      background-image:url(/images/hn.jpg);
      font-weight:bold;
      color: #333333;
      padding:5px;
  }
  p{
    font-size:12px;
    margin:5px;
    padding:0px;
    float:none;
    clear:both;
  }
  input{
    width:150px;
  }

</style>
<h1>ページが見つかりません(404)</h1>
<p>
  あなたのアクセスしようとしたページが見つかりませんでした。
</p>
<p>
  ご覧になっていたページからのリンクが無効になっているか、
  あるいはアドレス（URL）のタイプミスかもしれません。
</p>
<p>
  上のメニューまたは、下の検索フォームより、目的のページをお探しください。
</p>

<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'ja';
  var GOOG_FIXURL_SITE = 'http://www.yamaokaya.com/';
</script>
<script type="text/javascript" 
    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
