<div id="widearea">
<h1 class="sd"><%=@metadata.name%></h1>
<h2 class="sd">著作権について</h2>
<p>
  当ウェブサイトに掲載されている写真、絵、文字、文章その他の
  著作物についての著作権は、株式会社丸千代山岡家（以下「弊社」とします）
  または弊社に権利を許諾した第三者に帰属します。権利者の承諾なしに、
  これらの掲載情報およびその一部を複製、加工、改変、販売、送信等の二次利用をすることはできません。
</p>
<h2 class="sd">免責事項について</h2>
<p>
  弊社は、当ウェブサイトの運営・管理および情報の掲載には細心の注意を払っておりますが、
  掲載情報の妥当性や正確性についてを保証するものではありません。 
　当ウェブサイトでは、情報を予告なく変更もしくは削除する場合があります。
   また当ウェブサイトの運営を中断または中止させて頂くことがありますので、あらかじめご了承ください。
   弊社は、これら情報の変更、削除、運営の中断、中止、他、
   当ウェブサイトの利用により生じるいかなる損害についても責任を負うものではありません。 

</p>
<h2 class="sd">個人情報について</h2>
<p>
  当ウェブサイトへのアクセス、閲覧において、
  名前などご自身に関する情報を明らかにする必要はありませんが、
  アンケートフォームなどの一部のコンテンツにおいて、
  名前、電子メールアドレスなど個人情報の送信をご自身の任意にてお願いする場合があります。
　情報をご提供いただくページはSSL(セキュアソケットレイヤー)を使用しており、
  第三者の盗聴や改ざんを可能な範囲で防ぐために暗号化された上で送信されます。
　これら送信された個人情報については、弊社および関連会社のみで機密として管理し、
   ご利用者本人の同意なくして、当ウェブサイトの運営管理業務に関係ない外部機関に個人情報を開示することはありません。
   ただし、既定の法律や法的拘束力のある命令を受けた場合、
   もしくは弊社の権利や財産を保護する必要が生じた場合には、
   必要最低限の情報をその目的のために使用することがあります。 
</p>
<h2 class="sd">動作・閲覧環境</h2>
<p>
  当ウェブサイトは、下記の環境で閲覧いただくことを推奨いたします。
  <dl class="rob">
    <dt>Microsoft Windows(2000/XP/vista)</dt>
    <dd>Internet Explorer 6.0以上</dd>
    <dd>Firefox 2.0以上</dd>
    <dt>Macintosh(MacOS 10.3以上)</dt>
    <dd>Safari 2.0以上</dd>
    <dd>Firefox 2.0以上</dd>
  </dl>
  <ul>
    <li>いずれも日本語版に限らせていただいております。</li>
    <li>上記以外のブラウザでは正常に表示されないことがありますのであらかじめご了承ください。</li>
    <li>閲覧環境は、必要に応じて改訂する場合がございます。</li>
    <li>一部を除くページでJavaScriptを使用しております。ブラウザの設定を「JavaScriptを有効」にして閲覧ください。</li>
  </ul>
</p>
<p>
  <%=link_to image_tag("site/get_flash.jpg",:style=>"margin:10px;",:align=>"left",:alt=>"最新のFLASH Playerを入手"),"http://www.adobe.com/go/getflashplayer",:target=>"_blank",:alt=>"最新のFLASH Playerを入手"%>
  当ウェブサイトではMacromedia Flashを使用しています。
  正しく表示されない方は左記アイコンよりFlash　Player9以降をダウンロードしてください。
</p>
<p>
  <%=link_to image_tag("site/get_reader.gif",:style=>"margin:10px;",:align=>"left",:alt=>"最新のAdobe Readerを入手"),"http://www.adobe.co.jp/products/acrobat/readermain.html",:target=>"_blank",:alt=>"最新のAdobe Readerを入手"%>
  当ウェブサイトでは一部PDF形式で情報を提供しています。
  PDF形式のファイルをご覧になるためにはAdobe Readerが必要です。
  Adobe Readerをお持ちでない場合は、左のアイコンからダウンロードして下さい。
</p>
</div>
<div id="narrowarea">
    <%=render(:partial => "/#{@ctrl}/sidemenu")%>
</div>