<h1 class="sd">株主・投資家の皆様へ</h1>
<p>
  弊社は、ラーメン専門店「ラーメン山岡家」の運営事業を行っており、
  平成5年3月の設立以来、ラーメンの基本要素である『麺・スープ・タレ』の研鑽を重ね、
  多くのお客様からご支持をいただき、これまで歩み続けてまいりました。
</p>
<p>
  「ラーメンでお客様に喜んで貰う」ことを基本理念として掲げ、
  「手作りのおいしいラーメン」と「心のこもったサービス」を一人でも多くのお客様にお届けしたいという思いで、
  何度も足を運んでいただける味作りを目指しております。
  より多くの皆様に美味しさと笑顔を届けられるよう、
  これからも全国各地に向けて挑戦してまいります。
</p>
<p>
  弊社は、平成18年2月17日よりジャスダック証券取引所に株式を上場いたしております。
  社員一同決意を新たに、上場企業としての使命と責任を果たすべく、
  社業の発展に邁進していく所存でございますので、
  今後とも格段のご支援を賜りますよう、宜しくお願い申し上げます。
  </p>