<h1 class="sd">株式情報</h1>
<p>
  <dl>
    <dt>証券取引所</dt>
    <dd>東京証券取引所 ジャスダック市場</dd>
    <dt>証券コード</dt>
    <dd>3399</dd>
    <dt>事業年度</dt>
    <dd>毎年2月1日から翌年1月31日まで</dd>
    <dt>定時株主総会</dt>
    <dd>毎年4月</dd>
    <dt>基準日</dt>
    <dd>
      株主総会 1月31日
    </dd>
    <dd>
      その他臨時に必要がある場合は、あらかじめ公告いたします。
    </dd>
    <dt>配当金受領株主確定日</dt>
    <dd>
      1月31日
    </dd>
    <dd>
      なお、中間配当を実施する場合の中間配当金受領株主確定日は、7月31日です。
    </dd>
    <dt>株主名簿管理人</dt>
    <dd>
      東京都中央区八重洲1丁目2番1号
    </dd>
    <dd>
      みずほ信託銀行株式会社
    </dd>
    <dt>同事務取扱場所</dt>
    <dd>
      東京都中央区八重洲1丁目2番1号
    </dd>
    <dd>
      みずほ信託銀行株式会社　本店証券代行部
    </dd>
    <dt>同取次所</dt>
    <dd>
      みずほ信託銀行株式会社　全国各支店
    </dd>
    <dd>
      みずほ証券株式会社　本店及び全国各支店
    </dd>
    <dt>公告方法</dt>
    <dd>
      電子公告とし、 当社ホームページに掲載しております。
    </dd>
    <dd>
      但し、電子広告によることができない事故その他やむを得ない事由が生じた時は、 日本経済新聞に掲載します。
    </dd>
  </dl>
</p>
