<h1 class="sd">創業25年感謝祭の開催について</h1>
<p>
  1988年9月14日、茨城県牛久市の国道6号線沿いに一軒のラーメン店がオープンしました。
  <br />
  <%=image_tag64 "company/ushiku.jpg" ,:alt => 'ラーメン山岡家 1号店(牛久市)',:align => 'right'%>
  ラーメン山岡家の記念すべき第1号店でした。
</p>
<p>
  あれから25年。数々の荒波を乗り越え、ここまでやってこられたのは、多くのお客様が山岡家へ足を運んで下さったから。
  いま、日頃ご愛顧いただいているお客様へ心からの感謝の気持ちを込めて、創業25年特別感謝祭を開催いたします。
</p>
<h2 class="sd">[感謝1] サービス券 大復活！＋スクラッチカード(9/1から)</h2>
<p>
  オールドユーザーにはおなじみの、「あの」サービス券が復活します。
  <%=image_tag64 "company/svc_ticket.jpg" ,:alt => 'サービス券',:align => 'right'%>
  サービス券とは、ラーメン購入いただいた時に食券と一緒に発券されるクーポン券です。(※)
  <br />
  6枚集めて餃子一皿、10枚集めてラーメン1杯（醤油・味噌・塩）を無料でお召し上がり頂けます。
</p>
<p>
  <%=image_tag64 "company/scratch_card.jpg" ,:alt => 'スクラッチカード',:align => 'left',:style => 'margin:3px'%>
  さらに感謝祭期間中に限り、サービス券を使ってお食事頂いたお客様に、はずれ無しのスクラッチカードをプレゼント。
  限定山岡家Tシャツ（通称山T）や、黄金のどんぶり・レンゲセットなど、激レアアイテムが当たるかも！
</p>
<p>
  集めれば集めるほど、山岡家でのお食事がよりおトクに！
  もちろん、サービス券は感謝祭期間終了後もご利用いただけます。
</p>
<p>
  ※朝ラーメン、すべてのサービスセット、および〆ラーメン（一部店舗で販売）は、サービス券が発行されません。予めご了承ください。
</p>
<h2 class="sd">[感謝2]創業25年特別メニュー(9/9から)</h2>
<p>
  創業25年を記念して、従来ご提供してきた期間限定メニューをさらにグレードアップし、他では味わえない個性的なラーメンをどんどんご提供していきます。
  <br />
  第一弾は、<a href="/menu/2/843.html">「ねぎねぎXO醤麺」</a>。
</p>
<p>
  <%=image_tag64 "menu/photo/843.jpg" ,:size => '200x150',:alt => 'ねぎねぎXO醤麺(味玉付き)',:align => 'left'%>
  XO醤とは、干しエビ・干し貝柱・金華ハムなどの高級食材を惜しげも無くつぎ込んだ高級調味料で、1980年代に香港で発明されるや、またたく間に全世界で大流行しました。
  今や数ある調味料の中でも「最高の調味料」と言われることのあるXO醤と、山岡家伝統の濃厚豚骨スープのコンビネーションにより、これまでにない最高の風味を醸し出します。
</p>
<p>
  また、歯ごたえの良い白髪ネギと、見た目にも鮮やかな青ネギをどっさりと載せました。どちらのネギも鮮度・調理法にとことんこだわり、食感・香りともにご満足いただける一品に仕上がっています。
</p>
<p>
  価格は800円、味玉入りは850円(どちらも税込)です。是非一度お試しください。9/9より販売開始。
</p>
<p>
  また、他にも新しい限定メニューをいくつか企画しておりますので、今後の展開にどうぞご期待ください。
</p>
<h2 class="sd">[感謝3]毎月25日は創業25年特別感謝デー！</h2>
<p>
  毎月25日は創業25年特別感謝デーとしまして、月替りでお得なサービスを実施します！
  <br />
  まずは9月25日。
</p>
<p>
  醤油ネギラーメンをご注文で、味付玉子1個無料サービス！
</p>
<p>
  10月以降は随時発表してまいりますので、お楽しみに！
</p>
