<h1 class="sd">社長インタビュー</h1>
<h2>Q.開店のきっかけは？</h2>
<p>
  もともと、山岡家を始める以前は、東京で弁当屋を営業していました。なかなかの激戦区で、売上的にも苦戦している中で、当時一緒にやっていた仲間たちと、いろいろと相談したんです。それで「そうだ、ラーメン屋がいいんじゃないか。日本人は国民食とも言われるラーメンが大好きだし、ファンがついてくれれば、かならず一定のペースで食べに来てくれるはず」そう思ったのが始まりでした。
</p>
<h2>Q.山岡家といえば濃厚な豚骨スープが印象的ですが、この味に決めた理由は？</h2>
<p>
  関東でラーメン店をやろうと決めた当時、いざ市場をリサーチすると、繁盛店の10店の内８店までが豚骨スープを使っている。クラシックな鶏ガラや魚系のスープも美味しいのだろうけど、豚骨独特の風味と濃厚な味わいは、一度ハマると癖になるんですね。私自身も豚骨ファンだったこともあり、山岡家の基本は豚骨でいこう、と迷わず決めました。
</p>
<p>
  とにかく研究の日々。いろんな店のラーメンを食べ歩いて、自分が目指す味を探し続けました。それから素材や原材料などの情報を収集して、スープやタレづくりに取り組んだのですが、これがなかなか難しい。ある程度の段階で「これだ！」って思える味に仕上がるまでは、10年以上の時間がかかりましたね。ノイローゼ気味になってしまったこともしばしばです。
</p>
<p>
  研究に研究を重ねて、やっと辿りついたのが、今の豚骨スープと醤油味のタレ。これが目指していた味だと実感したんです。山岡家のメニューには、醤油以外にも味噌や塩もありますが、豚骨醤油味がすべての基本であり、やっぱり山岡家を代表する味なんだと思っています。
</p>
<p>
  ただ、豚骨なら必ず美味しいという訳じゃない。それはタレや麺とも密接に関わってくる話なんです。相性とでも言うのかな。ラーメンの3要素である、麺、スープ、タレ、これらのマッチングが重要なんです。この豚骨に合うタレはこれ、麺ならこれ、という風に。これを確立することが、ラーメン店にとって本当に大切なことなんです。
</p>
<p>
  メニューの数には、実はあまりこだわっていません。お店によっては、かなりバラエティに富んだメニューを用意しているところもありますが、山岡家はラーメン本来の旨さで勝負したいと考えていますから、むしろメニューは減らしてもいいかもしれない。例えば、札幌や旭川など、いわゆる「ご当地ラーメン」というのも特に意識していません。私たちの売り物は、あくまで「山岡家のラーメン」なのですから。自分たちの味を追求すればよいと考えています。
</p>
<h2>Q.100店舗も間近ですが、すべて直営店なんですね？</h2>
<p>
  はい。ラーメン山岡家は、すべて直営店です。フランチャイズは考えていません。これはやはり、「味を大切にしたい」気持ちの表れですね。スープも必ず、1店1店手作りでつくっています。だから、従業員指導は当社の生命線と言ってもいい。「旨いラーメンでお客さまに喜んでいただく」ことが山岡家の基本姿勢ですから、こだわりと言うよりも、これは当たり前のことですよ。
</p>
<h2>Q.北海道で爆発的に人気を博しました。何か思い入れがあるのでは？</h2>
<p>
  若いころ、帯広で3年ほど生活していて、北海道が大好きになりました。将来は絶対に北海道で暮らしたいと。それで、山岡家を札幌でもオープンさせたんです。当時から、札幌といえばラーメンの本場でしたが、「うちのラーメンを好きな人は必ずいる」という自信はありましたよ。そして、最初はかなり苦戦もしましたが、北海道の人たちも山岡家のラーメンを気に入ってくれた。本当にうれしいことです。
</p>
<h2>Q.これからの抱負をお聞かせください。</h2>
<p>
  北海道で認められたラーメンを、今度は全国にしたいと考えています。今後は、近畿、九州へと進出する予定でいます。もっともっと美味しくして、もっともっと全国の人に食べていただきたいですね。頑張ります。
</p>
