%h1= tx(:title)
- tx(:lead).each do |v|
  %p= v

%h2= tx('domain_specify.title')
%p=tx 'domain_specify.lead'
/ %ul
/   - (tx 'domain_specify.choices').each do |v|
/     %li= v
%p= tx 'domain_specify.remarks'
%h4 DOCOMO
%p
  [宛先指定受信]または[受信設定]に
  %strong mag@yamaokaya.com
  をご登録ください。
  %br
  %a{href:'https://www.nttdocomo.co.jp/info/spam_mail/measure/domain/about/',target: '_blank'}
    受信／拒否設定とは[nttdocomo.co.jp]
%h4 AU
%p
  指定受信リスト設定
  [指定受信リスト設定]に
  %strong mag@yamaokaya.com
  をご登録ください。
  %br
  %a{href:'http://www.au.kddi.com/support/mobile/trouble/forestalling/mail/anti-spam/fillter/function-03/',target: '_blank'}
    指定受信リスト設定 (なりすまし・転送メール許可)[au.kddi.com]※おすすめ
  %br
  %a{href:'http://www.au.kddi.com/support/mobile/trouble/forestalling/mail/anti-spam/fillter/function-11/',target: '_blank'}
    受信リスト設定[au.kddi.com]
%h4 SOFTBANK
%p
  [受信許可リスト設定]に
  %strong mag@yamaokaya.com
  をご登録ください。
  %br
  %a{href: 'http://www.softbank.jp/mobile/support/antispam/settings/indivisual/whiteblack/',target: '_blank'}
    迷惑メールの個別設定をする[softbank.jp]

%h2
  URL付きメールの拒否設定の解除
%p
  お送りしているメールには、クーポンを表示するためのURLや、
  配信の解除を行っていただくためのURLがメール本文内に含まれております。
  したがって、お客様の端末で、URLが含まれたメールを拒否する設定になっている場合、弊社からのメールを受信いただくことができません。
  お使いの端末の設定をご確認いただき、拒否する設定になっている場合は、設定の変更をお願い致します。

  キャリア毎に設定方法が異なります。以下リンクより、お使いのキャリアの設定方法をご確認いただけます。
%h4 DOCOMO
%p
  %a{href:'https://www.nttdocomo.co.jp/info/spam_mail/measure/url/',target: '_blank'}
    URL付きメール拒否設定[nttdocomo.co.jp]
%h4 AU
%p
  %a{href:'http://www.au.kddi.com/support/mobile/trouble/forestalling/mail/anti-spam/fillter/function-05/',target: '_blank'}
    URLリンク/HTMLメール規制[au.kddi.com]
%h4 SOFTBANK
%p
  %a{href:'http://www.softbank.jp/mobile/support/antispam/settings/indivisual/antiurl/',target: '_blank'}
    迷惑メール設定をする（URLを含むメールの拒否）[softbank.jp]
