<div id="widearea">
  <h1 class="sd">ラーメン山岡家 ソーシャルメディア ガイドライン</h1>
  <dl>
    <dt>参加の目的</dt>
    <dd>
      ソーシャルメディアを通じてラーメン山岡家の情報を発信するとともに、お客さまとの対話を通じて、お客様の満足度を高め、より愛されるラーメンチェーン店を目指します。
    </dd>
  </dl>
  <dl>
    <dt>参加にあたっての心構え</dt>
    <dd>お客さまの声に耳を傾け、お客さまに少しでも有益な体験をしていただけるよう、
    積極的な情報提供を行っていきます。</dd>
    <dd>誤った情報を発信したり、お客様に誤解を与えることのないよう心がけます。</dd>
    <dd>万が一誤った情報を発信してしまった場合は、速やかにお詫びの上、訂正させていただきます。</dd>
    <dd>各ソーシャルメディアの規定・マナー・文化を順守します。</dd>
  </dl>
  <dl>
    <dt>発信内容について</dt>
    <dd>主に店舗や商品の情報、販促活動やキャンペーンなどについて発信していきます。</dd>
    <dd>その他、会員向けのメールマガジンサービスで発信した内容のバックナンバーや、社内の雰囲気などの雑多な情報についても、
    お邪魔にならない範囲で、控えめに発信させていただきます。</dd>
    <dd>原則、勤務時間中（平日の日中）に情報発信をしております。</dd>
    <dd>ソーシャルメディア上の情報は、当社公式アカウントからの発信であっても、
    その特性上、必ずしも公式発表・見解を表しているものではありません。
    公式な発表に関しては、Webサイトおよびプレスリリースでお知らせしています。</dd>
    <dd>店舗もしくは商品、決算やＩＲ等に関するご質問に対して、ソーシャルメディア上でお答えすることは控えさせていただきます。
    当社ホームページからお問い合わせをお願いいたします。</dd>
  </dl>
  <dl>
    <dt>個別のメディアについて[1](Twitter)</dt>
    <dd>担当は、主に経営企画室のOですが、時おりマーケティング担当者Hがつぶやくこともあります。</dd>
    <dd>ラーメン山岡家をご利用頂いている方々のツイートに、思わず反応してしまうことがあるかもしれません。
    温かい目で見守って頂けると幸いです。</dd>
    <dd>ダイレクトメッセージには対応いたしません。</dd>
  </dl>
  <dl>
    <dt>個別のメディアについて[2](facebook)</dt>
    <dd>マーケティング担当者Hおよび、公式WEBサイトの管理者Tが担当します。</dd>
    <dd>投稿いただいたメッセージにコメントさせていただくことがあります。</dd>
    <dd>気になった人・企業・投稿・ページに「いいね！」・シェアさせていただくことがあります。</dd>
  </dl>
</div>
<div id="narrowarea">
    <%=render(:partial => "/#{@ctrl}/sidemenu")%>
</div>