@import 'mixins';
body.feedbacks{

  dl{
     margin-left:20px;
  }
  dt{
      background-color:#EAEAEA;
      @include bg("hnt.jpg");
      border-bottom:solid 2px #0066FF;
      color:#333333;
      font-size:12px;
      padding:3px;
      font-weight:bold;
  }
  dd{
      color:#333333;
      margin:0px 0px 0px 20px;
      line-height:16px;
      border-bottom: dotted 1px #AAAAAA;
      vertical-align:baseline;
      padding:5px 3px 8px 2px;
  }
  label.static{
      width:120px;
      display:inline;
      margin-left:5px;
      margin-top:3px;
  }
  h1{
      position:relative;
      font-size:18px;
      margin:10px 0px 10px 0px;
      border-left:solid 24px #0066FF;
      background-color:#EAEAEA;
      @include bg("hnt.jpg");
      font-weight:bold;
      color: #333333;
      padding:5px;
  }
  li{
      margin-bottom:8px;
      list-style:square;
      line-height:17px;
  }
  optgroup{
      background-color:#F0F0F0;
  }
  optgroup option{
      background-color:#FFFFFF;
  }
  dd.rdo span{
      width:90px;
      display:block;
      float:left;
      border-bottom: solid 6px;
  }
  dd.rdo span.l{
      width:150px;
      border-left:solid 1px #BBBBBB;
      margin-left:10px;
      border-bottom:none;
      float:left;
  }
  dd.rdo{
      float:none;
      clear:both;
  }
}
