<style type="text/css">
  div.top{
        background-color: #FFFFFF;
        width:500px;
  }
.comment {
	font-size: 11pt;
	color: #222222;
        width:100%;
}
.comment .txt{
	padding:5px 5px 10px 5px;
}
  ul.remarks{
    font-size:9pt;
    color:#666666;
  }
p{
font-size:14px;
margin:9px;
}
p strong{
font-size:16px;
color:yellow;
}
p a{
	color:#88DD99;
}

  dl.continue dt,dl.continue dd{
    border:none;
    font-size:14px;
  }
  dl.continue dt{
    color:yellow;
    font-size:16px;
    border-bottom:solid 1px #FF3311;
    padding:3px;
  }
  dl.continue dd a{
    color:white;
  }
  dl.continue{
    padding-left:10px;
    width:95%;
  }
</style>
<div class="top">
  <%=image_tag "menu/canpaign/monitor/top.png",:alt=>"濃厚プレミアム塩とんこつ"%>
  <div class="comment">
      <div class="txt">
        <p>いつも山岡家をご利用いただきまして、まことにありがとうございます。</p>
        <p>お客様にもっと喜んでいただける商品づくりのため、新商品のモニターキャンペーンを実施いたします。</p>
      </div>
  </div>
  <%=image_tag "menu/canpaign/monitor/menu.png",:alt=>"自身の新作"%>
  <%=image_tag "menu/canpaign/monitor/780.png",:alt=>"税込780円（アンケートにご回答いただいた方は実質無料！）"%>
  <div class="comment">
      <div class="txt">
        <p>
        期間中、対象メニューをお召し上がりいただき、
        アンケートにご回答いただいたお客様にもれなく、
        次回以降ご利用いただけるお食事券をプレゼントいたします。
        </p>
        <p>
        各店200食限定ですので、お近くのお客様はぜひお早めに。
        </p>
        <p>
        皆様の声をぜひ、お聞かせください。
        </p>
      </div>
      <hr />
      <ul class="remarks">
        <li>商品の内容は予告なく変更することがあります。</li>
        <li>キャンペーン期間中であっても、都合により商品のご提供ができないことがあります。</li>
        <li>キャンペーンの性質上、ぜひアンケートにご協力いただくよう、何卒お願い申し上げます。</li>
        <li>各新作商品につき、お一人様一食限りとさせていただきます。</li>
      </ul>
  </div>

</div>