<style type="text/css">
  table{
    width:80%;
    table-layout:fixed;
  }
  td{
    text-align:left;
  }
  p{
    font-size:15px;
  }
</style>
<h1>
    プレミアム塩とんこつ 一部店舗販売延長のお知らせ
</h1>
<p>お客様各位</p>
<p>
    いつも山岡家をご利用いただきましてまことにありがとうございます。
</p>
<p>
    「プレミアム塩とんこつ」は、1/8を持ちまして販売終了の予定でございましたが、
	皆様に大変ご好評をいただいておりますため、一部店舗にて延長販売を行うこととさせていただきました。
</p>
<p>
    今回、最後のチャンスですので、ぜひこの機会にご賞味いただきますよう、お願い申し上げます。
</p>
<div>
	<p>延長店舗一覧</p>
	<table>
		<thead>
			<tr>
				<th>地区</th>
				<th>店舗名</th>
			</tr>
		</thead>
		<tbody>

		</tboby>
	</table>
</div>
<p>
	今後ともラーメン山岡家をご愛顧いただきますよう、お願い申しあげます。
</p>