<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>お得なクーポン！</title>
		<style type="text/css">
			body{
				width:100%;
				padding:0px;
				margin:0px;
			}
		</style>
	<head>
	<body>
		<%if !@expired %>
		<img src="<%="/images/coupons/#{@coupon_code}.gif"%>" width="100%"/>
		<%end%>
		<%if @expired %>
		<img src="<%="/images/coupons/expired.gif"%>" width="100%"/>
		<%end%>

	</body>
</html>