#footnavi
  =link_to "TOP",html(controller: :top,action: :index)
  &nbsp;|&nbsp;
  =link_to "メニュー",html(controller: :menu,action: :index)
  &nbsp;|&nbsp;
  =link_to "店舗",html(controller: :shop,action: :index)
  &nbsp;|&nbsp;
  =link_to "会社概要",html(controller: :company,action: :index)
  &nbsp;|&nbsp;
  =link_to "IR情報",html(controller: :ir,action: :index)
  &nbsp;|&nbsp;
  =link_to "ご意見・ご感想",html(controller: :feedbacks,action: :index)
  &nbsp;|&nbsp;
  =link_to "採用情報",html(controller: :recruit,action: :index)
  &nbsp;|&nbsp;
  =link_to "店舗物件募集",html(controller: :property,action: :index)