=link_to image_tag64("logo01.gif",:id=>"logo",:alt=>"山岡家"),:controller=>"top",:action=>"index"
#toplink
  - if ctrl(self) == 'top'
    = link_to "山岡家HPについて",:action=>"about" ,:controller =>"site"
    = link_to "サイトマップ",:action=>"sitemap" ,:controller =>"site"
