=link_to image_tag64("logo01.gif",:id=>"logo",:alt=>"山岡家"),html(controller: :top,action: :index)
#toplink
  - if ctrl(self) == 'top'
    = link_to "山岡家HPについて",html(:action: :about ,controller: :site)
    = link_to "サイトマップ",html(action: :sitemap ,controller: :site)
