- content_for(:layout_inner) do
  #widearea
    = yield
  #narrowarea
    =link_to(raw("<div>ごあいさつ</div>"),html(:action=>"greetings"),{:class=>"sidemenu"})
    =link_to(raw("<div>会社概要</div>"),html(:action=>"index"),{:class=>"sidemenu"})
    =link_to(raw("<div>ヒストリー</div>"),html(:action=>"history"),{:class=>"sidemenu"})
    =link_to(raw("<div>SNS ガイドライン</div>"),html(:action=>"sns_guideline"),{:class=>"sidemenu"})
=render :template => "layouts/application"