- content_for(:ext_js) do
  - cache areas do
    :coffeescript
      $ ->
        $("select#area").change ->
          areamap = #{areas.to_json}
          $('dt.shops').css('display','none')
          for key in areamap[this.value]
            oe = false unless oe
            oe = !oe
            $('#t' + key).css('background-color',if oe then "#FFEAEA" else "#FAFAFA")
            $('#t' + key).css('display','block')

        if '#{@area_code}'.length != 0
          $("select#area").val('#{@area_code}')
          $("select#area").trigger('change')

- content_for(:layout_inner) do
  #narrowarea
    =render(:partial => "finder")
  #widearea
    =yield
=render :template => "layouts/application"

